<div>
    <h1 class="app-tittle">Venta mensual de paquetes</h1>
    <div class="form-inline date-picker-margin">
        <div class="form-group col-md-4">
            <label for="inputState">Mes:</label>
            <div class="little-space"></div>
            <select id="inputState" class="form-control">
                <option *ngFor="let month of months">{{month.name}}</option>
            </select>
            <div class="little-space"></div>
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>

    <ul class="list-group">
        <li *ngFor="let package of packages" class="list-group-item d-flex justify-content-between align-items-center">
            {{package.name}}
            <div>
                <span class="badge badge-primary badge-pill bg-success">vendidos: {{package.sold}}</span>
                <a href="#"> mas info...</a>
            </div>


        </li>
    </ul>


</div>