<div class="adm-container">

  <h1 class="app-tittle">Paquetes por cliente</h1>

  <div class="form-inline date-picker-margin">
    <div class="form-group">
        <app-datepicker (messageEvent)="recieveMessage($event)" ></app-datepicker>
        <span class="little-space"></span>
        <button type="submit" (click)="getClients()" class="btn btn-success">Buscar</button>
    </div>
  </div>
      

  <ul class="list-group">
    <li *ngFor="let client of clients" class="list-group-item d-flex justify-content-between align-items-center">
      {{client.name}}
      <div>
        <span class="badge badge-primary badge-pill bg-success">paquetes: {{client.packages}}</span>
        <a href="#"> mas info...</a>
      </div>


    </li>
  </ul>

  <div class="adm-paginator">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item adm-page-item">
          <a class="page-link" href="#">Previous</a>
        </li>
        <li *ngFor="let page of pages" class="page-item adm-page-item">
          <a class="page-link" href="#">{{page.value}}</a>
        </li>
        <li class="page-item adm-page-item">
          <a class="page-link" href="#">Next</a>
        </li>

      </ul>
    </nav>
  </div>

</div>